pymongo>=3.2
django>=2.0
mongoengine>=0.15.0
pydash
djangorestframework>=3.7.3
django-extra-fields
djangorestframework-recursive
drf-compound-fields
drf_ujson
djangorestframework-jwt
django-rest-framework-mongoengine>=3.3.1
camel_snake_kebab
gevent
num2words
xlsxwriter
ws4py
-e git+http://m.labied@192.168.1.218:28080/r/ft_core.git#egg=ft_core


